@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Lato:wght@300&display=swap");
.rotate:hover {
  transform: rotateZ(-360deg);
  transition: 2s; }

.scale:hover {
  transform: scale(1.1); }

@media (max-width: 992px) {
  .scale:hover {
    transform: none; } }

@keyframes opacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  animation-name: opacity;
  animation-duration: 1s; }

html {
  font-size: 62.5%; }

#botonera {
  background-color: #f5b2bb;
  padding-right: 3rem; }
  #botonera li {
    font-size: 3rem; }

header {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #dae2f8, #e7c5c5); }
  header img {
    height: 90%;
    width: auto; }

main {
  color: #313131;
  background-color: #fcffff; }
  main h1 {
    color: #f5b2bb;
    font-size: 5rem;
    text-shadow: 4px 4px 4px #abbaab54; }
  main .h1-titulo, main h3, main h2 {
    background-color: #fae4e6;
    font-size: 3rem;
    line-height: 3rem; }
  main .p-principal {
    font-size: 3rem;
    line-height: 5rem;
    text-shadow: 4px 4px 4px #abbaab54; }
  main .p-staff {
    font-size: 2rem;
    line-height: 3rem;
    background-color: #fff7f8; }
  main #section-background {
    background-color: #fff7f8; }
    main #section-background img {
      height: 30rem;
      width: 30rem; }
  main table {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 3rem; }
    main table .tableColor {
      background-color: #fff7f8; }
  main iframe {
    width: 100%;
    height: 61vh;
    padding-left: 5%;
    padding-right: 5%; }
  main form {
    padding-left: 5%;
    padding-right: 5%; }
    main form textarea {
      width: 100%;
      height: 20vh; }
  main input {
    width: 100%;
    height: 4vh; }
    main input[type="submit"] {
      background-color: #f5b2bb;
      color: 'textGeneral';
      border: none; }
      main input[type="submit"]:hover {
        background-color: #fff7f8;
        cursor: pointer; }

footer {
  color: #313131;
  background-color: #f5b2bb;
  font-size: 1.5rem; }
  footer img {
    height: 4rem;
    width: auto; }
  footer #ulFooter {
    list-style: none;
    padding-left: 4px; }
    footer #ulFooter a {
      text-decoration: none;
      color: #313131; }
