html {
    font-size: $htmlSize;
}

#botonera {
    background-color: map-get($map: $colores, $key: 'navFooterColor');
    padding-right: $textMm;
        li {
            font-size: $textMm;
        }
}

// MIXIN 
@mixin flex-center($j-center, $a-center){
    display: flex;
    justify-content: $j-center;
    align-items: $a-center;
}
@mixin text($Staff, $Mm){
    font-size: $Staff;
    line-height: $Mm;
}

header {
    height: 30vh;
    width: 100%;
    @include flex-center(center, center);
    background: map-get($map: $colores, $key: 'gradient');
        img {
            height: 90%;
            width: auto;
        }
}

main {
    color: map-get($map: $colores, $key: 'textGeneral');
    background-color: map-get($map: $colores, $key: 'bodyColor');
        h1 {
            color: map-get($map: $colores, $key: 'navFooterColor');
            font-size: $textLm;
            text-shadow: 4px 4px 4px map-get($map: $colores, $key: 'shadow')
        }
        .h1-titulo, h2 {
            background-color: map-get($map: $colores, $key: 'backgroundTittleColor');
            font-size: $textMm;
            line-height: $textMm;
        }
        h3 {
            @extend .h1-titulo;
        }
        .p-principal {
            font-size: $textMm;
            line-height: $textLm;
            text-shadow: 4px 4px 4px map-get($map: $colores, $key: 'shadow')
        }
        .p-staff {
            @include text($textStaff, $textMm);
            background-color: map-get($map: $colores, $key: 'sectionBackground');
        }
        #section-background {
            background-color: map-get($map: $colores, $key: 'sectionBackground');
                img {
                    height: 30rem;
                    width: 30rem;
                }
        }
        table {
            @include flex-center(center, center);
            @include text($textStaff, $textMm);
                .tableColor {
                    background-color: map-get($map: $colores, $key: 'sectionBackground');
                }
        }

        iframe {
            width: 100%;
            height: 61vh;
            padding-left: 5%;
            padding-right: 5%;
        }
        form {
            padding-left: 5%;
            padding-right: 5%;
                textarea {
                    width: 100%;
                    height: 20vh;
                }
        }
        input {
            width: 100%;
            height: 4vh;
                &[type="submit"] {
                        background-color: map-get($map: $colores, $key: 'navFooterColor');
                        color: 'textGeneral';
                        border: none;
                            &:hover {
                                background-color: map-get($map: $colores, $key: 'sectionBackground');
                                cursor: pointer;
                            }
                    }
        }
}

footer {
    color: map-get($map: $colores, $key: 'textGeneral');
    background-color: map-get($map: $colores, $key: 'navFooterColor');
    font-size: $textFooter;
        img {
            height: 4rem;
            width: auto;
        }
        #ulFooter {
            list-style: none;
            padding-left: 4px;
                a {
                    text-decoration: none;
                    color: map-get($map: $colores, $key: 'textGeneral');
                }
        }
}