@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Lato:wght@300&display=swap');

//vars fonts
$mainFont: 'Arima Madurai', cursive;

//sizes
$htmlSize: 62.5%;
$textFooter: 1.5rem;
$textStaff: 2rem;
$textSm: 2.5rem;
$textMm: 3rem;
$textLm: 5rem;
